<configuration>
	
	<packageSources>
		<add key="AlgoMango" value="https://packages.dvstudio.dev/nuget/Linkedin.Net/v3/index.json" protocolVersion="3" />
	</packageSources>
	
	<packageSourceCredentials>
		<AlgoMango>
			<add key="Username" value="Servidores" />
			<add key="ClearTextPassword" value="Mango1." />
		</AlgoMango>
	</packageSourceCredentials>
</configuration>