<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panamify Signature</title>
</head>
<body style="background-color: #ededed;">
    <!-- Text Start -->
    <div style="position: relative; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #222; line-height: 24px;">
        <p>Hi there!</p>
        <p>
            I hope all is well. We reached out on LinkedIn recently and were wondering if we could help you with your business.<br />
            Panamify is based in New York via Mexico city. We have a team of fluent English speakers who can do anything from data entry, sourcing, prospecting, call management, VA and PA work, customer service – you name it! <br />
            We’re priced so low that you have nothing to lose right? Plus we’re in your time zone. Come and join the many others who use our service – could we have a chat?
        </p>
        <br />
    </div>
    <!-- Text End -->
    <!-- Signature Start -->
    <div style="position: relative; width: 800px; height: 364px; background-color: #FFF; background-image: url('img/isotype_yellow.png'); background-repeat: no-repeat; background-position: bottom right; background-size: 25%;">
        <div style="width: 800px; height: 260px;">
            <table>
                <tr>
                    <td style="width: 300px; height: 254px; vertical-align: middle; text-align: center;">
                        <div style="width: 300px; height: 227px; margin-top: 0px; border-right: 1px solid #F39928;">
                            <a style="display: inline-block; margin-top: 100px;" href="https://panamify.com">
                                <img style="width: 240px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/85929dcf-6e9d-407e-b63d-0fa5c1e1c963/2420x527.png" alt="Panamify" />
                            </a>
                        </div>
                    </td>
                    <td style="width:490px; height: 254px; padding-left: 20px;">
                        <span style="font-size: 42px; font-family: Arial Black, Arial, Helvetica, sans-serif; font-weight: 700; color: #BF153E;">Name Account</span>
                        <br />
                        <span style="font-size: 24px; font-family: Arial, Helvetica, sans-serif; color: #BF153E;">Vice President</span>
                        <br />
                        <br />
                        <table style="width: 480px;">
                            <tr>
                                <td style="width: 50px;">
                                    <a style="text-decoration: none; display: inline-block;" href="#" target="_blank">
                                        <img src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/9605506e-17ee-44a7-b9b1-b4445cfd2b3a/48x48.png" alt="Phone" />
                                    </a> 
                                </td>
                                <td>
                                    <span style="display: inline-block; font-size: 24px; font-family: Arial, Helvetica, sans-serif; color: #BF153E;">833-67 Panam ext 22</span>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50px;">
                                    <a style="text-decoration: none; display: inline-block;"  href="#" target="_blank">
                                        <img src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/8a32575b-4e74-415b-b766-250d34be48c6/48x48.png" alt="LinkedIn" />
                                    </a> 
                                </td>
                                <td>
                                    <span style="display: inline-block; font-size: 24px; font-family: Arial, Helvetica, sans-serif; color: #BF153E;">@linkedinlink</span>
                                </td>
                                <td>
                                    <a style="text-decoration: none;" href="#" target="_blank">
                                        <img src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/2dd38f0d-d778-4066-b297-2e616df8a7f4/48x48.png" alt="Calendar" />
                                    </a> 
                                </td>
                            </tr>
                        </table>                       
                    </td>
                </tr>
            </table>
        </div>
        <div style="position: relative; width: 100%; height: 40px; background-color: #BF153E; text-align: center;">
            <table style="width: 780px; height: 40px;">
                <tr>
                    <td style="text-align: left; padding-left: 20px;">
                        <span style="display: inline-block; font-size: 24px; font-weight: 100; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;; color: #FFF;">Quality Staff, Quality Infrastructure</span>
                    </td>
                    <td style="text-align: right;">
                        <a href="https://panamify.com" target="_blank" style="display: inline-block; font-size: 24px; font-weight: 100; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;; color: #FFF !important; text-decoration: none;">www.panamify.com</a>
                    </td>
                </tr>
            </table>
        </div>
        <div style="position: relative; width: 90%; height: auto; margin-left: 20px; text-align: center;">
            <table style="width:100%; height: 40px; margin-top: 14px;">
                <tr>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/be7bf817-be12-49df-9ae2-0e3d5b179d24/512x512.png" alt="LinkedIn" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/e5edbdf1-2ca5-4f29-87d5-5b6e6e96872e/820x1023.png" alt="Google Ads" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/2e9e26bd-1140-4e07-ac85-0e73722a8b24/2000x676.png" alt="Google Ads" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/bb8a5e1e-7135-45ae-ada4-48a5f6b006fa/1045x221.png" alt="Google" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/d132d0fe-f7ff-4652-a614-5fbc1b6e7204/2560x691.png" alt="Autocad" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/4801b5b1-36d3-43c9-b481-fa38395447c4/400x400.png" alt="RVT" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/916f12ef-e4e6-4436-8385-d6845513007e/2237x2160.png" alt="Photoshop" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/916f12ef-e4e6-4436-8385-d6845513007e/2237x2160.png" alt="Microsoft" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/01e0f750-1449-4f3d-ba82-e222f7559394/3391x983.png" alt="HubSpot" />
                    </td>
                    <td>
                        <img style="width: auto; height: 24px;" src="http://cdn.mcauto-images-production.sendgrid.net/1445daecf2461a5d/8d21174a-7ed7-4e6d-8a0b-03eb9b447b49/1280x896.png" alt="SaleForce" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Signature End -->
</body>
</html>